.about-wrapper {
  width: 100%;
  background: #f8f9ff;
  padding-bottom: 50px;
}

/* HERO */
.about-hero {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 80px 20px;
  background: linear-gradient(135deg, hsla(269, 85%, 43%, 0.364), #2575fc);
  color: white;
  text-align: center;
  border-radius: 0 0 40px 40px;
}

.about-hero h1 {
  font-size: 48px;
  font-weight: 800;
}

.hero-subtitle {
  font-size: 20px;
  opacity: 0.95;
  margin-top: 10px;
}

/* INTRO */
.about-section {
  max-width: 10000px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.about-section h2 {
  font-weight: 700;
  margin-bottom: 10px;
}

.about-section p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

/* MISSION & VISION */
.mission-vision {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 40px auto;
  max-width: 10000px;
}

.mv-card {
  width: 280px;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.mv-card h3 {
  margin-bottom: 10px;
  font-weight: 700;
}

.mv-card p {
  color: #555;
  line-height: 1.5;
}



/* HOW IT WORKS */
.how-section {
  margin-top: 60px;
}

.how-section h2 {
  text-align: center;
  font-weight: 800;
}

.how-steps {
  max-width: 1500px;
  margin: 30px auto;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.step-card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.step-card span {
  font-size: 32px;
}

.step-card h4 {
  font-weight: 700;
  margin-top: 10px;
}

.step-card p {
  margin-top: 5px;
  color: #555;
}

