/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}


/* Reset CSS */

/* Responsive Typography */
html {
  font-size: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 85%;
  }
}

